<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSAppTTSCPSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WSAppTTSCP.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSAppTTSCPSoap" contract="WSAppTTSCP.WSAppTTSCPSoap"
                name="WSAppTTSCPSoap" />
        </client>
    </system.serviceModel>
</configuration>